{
    "data": {
        "elevation": 0,
        "external_url": null,
        "internal_url": "http://192.168.1.209:8123",
        "latitude": 35.2916,
        "location_name": "Blum Home",
        "longitude": -80.8201,
        "time_zone": "America/New_York",
        "unit_system": "imperial"
    },
    "key": "core.config",
    "version": 1
}